

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "poppins";
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 30px;
    // margin-left: 250px
  }
 
  .main {

  display: flex;
    width: 83vw;
    /* padding: 60px 150px 59px 150px; */
    /* padding-top: 60px; */
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* margin-top: -100px; */
    background: var(--Blue-5, #F4F9FF);
    margin-left: 18px;
    /* margin-top: 50px; */
    padding-right: 150px;
    padding-bottom: 59px;
    padding-left: 150px;

  }
  
  .marquee {
overflow: hidden;
    display: flex;
    /* padding-bottom: 36px; */
    justify-content: center;
    align-items: flex-start;
    /* gap: 1080px; */
    align-self: stretch;
    margin-left: 0px
  }
  
  .marqueeContent {
    display: flex;
    align-items: center;
    // margin-right: -5%;
  animation: marqueeAnimation 200s linear infinite;
  }
  
  .marqueeItem {
    flex: 0 0 14vw;
    margin: 0 1vw;
    margin-right: 40px;
  }
  
  
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(-144vw);
    }
  }
  @media screen and (max-width: 768px) {
    .main {
      padding: 2rem 0;
    }
    .marquee {
      width: 90%;
    }
  }

  @keyframes marqueeAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  