.calBox{


    width: 40%;
}

.EMIBox{
    // margin-top: 40rem;
    display: flex;
    justify-content: space-around;
    background: var(--ebf-4-ff, #EBF4FF);
    padding: 4rem;

}
.resBox{
    border-radius: 13px;
background: #fff;
box-shadow: 0px 4px 10.9px 0px rgba(132, 184, 255, 0.60);
width: 30rem;
height: 25rem;

}

.mothlyStyle{
    color: var(--575-b-6-d, #575B6D);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding:3rem 0 0 2rem;

.resStyle{
    color: var(--Blue-2, #367BFF);
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
}

.Interest{
    color: var(--575-b-6-d, #575B6D);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

.val{
    color: var(--neutral, #20243A);
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
}

.resbox{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.loanAmt{
    color: var(--neutral, #20243A);
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.loanTxt{
    color: var(--6-f-7387, #6F7387);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.head{color: var(--575-b-6-d, #575B6D);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.subHead{
    color: var(--8-e-92-a-5, #8E92A5);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 10px;
}
.h{
    color: var(--neutral, #20243A);
    margin-top: 40rem;
text-align: center;
    // color: var(--neutral, #20243A);
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;


}
@media (max-width: 768px) {
.EMIBox{
    margin: 10px;
   
    
    flex-direction: column;
    
}
.calBox{
    width: fit-content;
}

.resBox{
    transform: scale(0.6);
  
  //  width: 370px;
    margin-left: -5rem;
}
.head{
    display: none;
}
.subHead{
    display: none;
}

.h{
    font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
padding-bottom: 20px;
text-align: center;
margin-top: 300%;
}

}