
.crossBtn{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;
}

.videoPlayerScreen{

}

.playButtonText{
    margin-top:15px;
    color: #000;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: -20px;
}

.buttonWrapper:hover{
    cursor: pointer;
}

.videotitle{
    background-color: black;
    color:white;
}

.videoContent{
    background-color: currentColor;
    
}