
.container{
    
    align-self: stretch;
    border-bottom: 2px solid var(--www-tatanexarc-com-athens-gray, #ECEEF4);
    display: flex;
    /* margin-left: 0%; */
    // margin-top: 10%;
    background-color: white;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.main{
    display: flex;
    margin-left:20%;
    margin-top:2%;
}

.containerOne{
    display: flex;
    width: 418.19px;
    max-width: 1122px;
    padding: 0px 8.19px 86.92px 0px;
    flex-direction: column;
    align-items: flex-start;

    // opacity: 0.7;
}

.containerTwo{
    display: flex;
    width: 246px;
    padding-bottom: 0.92px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.containerThree{
    display: flex;
    width: 26%;
    padding-bottom: 26.92px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.containerFour{
    display: flex;
    width: 246px;
    padding-bottom: 26.92px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.heading{
    color: var(--www-tatanexarc-com-black, #000);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}

.content{
    color: var(--6-f-7387, #6F7387);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.image{
    display: flex;
    padding-top: 20px;
    align-items: flex-end;
    gap: 8px;

    // position: absolute;
left: 60px;
bottom: 51.92px;
}

.imageOne{
    width: 148px;
    height: 42px;
}

.imageTwo{
    width: 148px;
    height: 42px;
}

.secondFooter{
    display: flex;
    width: 1296px;
    align-items: center;
    gap: 38%;
    margin-left: 20%;
}

.tag{
    display: flex;
width: 151px;
padding-right: 32px;
align-items: center;
gap: 12px;
flex-shrink: 0;
}

.flag{
    width: 52px;
height: 52px;
flex-shrink: 0;
}

.flagText{
    color: var(--575-b-6-d, #575B6D);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */

width: 88px;
flex-shrink: 0;
}
.Backgroundscreen{
    background-image: url(Frame.png);
    background-repeat: repeat-x;
}




@media (max-width: 768px) {
.containerOne{
    padding-bottom: 20px;
}
    .containerThree{
margin-left: -10%;

    }

    .secondFooter{
        all:unset;
    }
.content{
    // display: none;
    margin-left: -65px;
    padding: 0;
}
.fix{
display: flex;
}
.containerFour{
    display: none;
}
.main{
    flex-direction: column;

}

}