/* OurTeam.css */
@import url('https://fonts.googleapis.com/css?family=Poppins');

.our-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 41px; */
}

.team-members-container {
  display: flex;
  /* justify-content: center; */
  /* margin: 10px; */
  /* padding: 30px; */
  /* flex-wrap: wrap; */
}

.h2 {
    color: #154379;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 44px;
}

.team-member-card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px; /* Set a fixed width for each card */
  margin-right: 20px; /* Add some space between cards */
}

.team-member-photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
  .team-members-container {
    flex-direction: column; /* Stack cards vertically on smaller screens */
    align-items: center; /* Center cards in the container */
    margin: 30px;
    padding: 30px;
  }

  .team-member-card {
    width: 100%; /* Make cards full width on smaller screens */
    margin-right: 0; /* Remove the margin between cards */
  }
}
