/* RequiredDocuments.css */
@import url('https://fonts.googleapis.com/css?family=Poppins');

.container{

// width: 74vw;
// display: inline-flex;
// align-items: flex-start;
background-color: white;
// margin-top: 90px;
// height: 25vw;
display: flex;
justify-content: center;
}

.qualification{
    font-family: 'Poppins';


display: flex;
flex-direction: column;
align-items: flex-start;
gap: 33px;
}

.firstHeading{
    color: var(--neutral, #20243A);
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 116.667% */ 
}

.firstContent{
    display: flex;
width: 32rem;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.docsRequired{
//     font-family: 'Poppins';
//     display: flex;
// width: 497px;
// height: 339px;
// padding-bottom: 27px;
// flex-direction: column;
// align-items: flex-start;
// gap: 33px;

font-family: 'Poppins';
    display: inline-flex;
align-items: flex-start;
gap: 104px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 33px;
}

.secondHeading{
    color: var(--neutral, #20243A);
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 116.667% */
}

.secondContent{
//     display: flex;
// width: 497px;
// flex-direction: column;
// align-items: flex-start;
// gap: 20px;

display: flex;
width: 32rem;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.point{
    display: flex;
    width: 366.23px;
    height: 27px;
    padding: 5px 344.23px 2px 2px;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap:10px;
}

.sentence{
    color: var(--575-b-6-d, #575B6D);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px; /* 150% */
align-self: flex-start;
}

.main{
    background-color: white;
  //  margin-top:30%;
  padding-top: 30px;
  padding-bottom: 40px;
}


@media (max-width: 768px) {

.container{

background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
gap:20px
}
}